@media screen and (max-width: 600px) {
    body {
        overflow-x: hidden;
    }

    nav {
        padding-right: 10px !important;
    }

    nav li a {
        padding-left: 13px !important;
        padding-right: 13px !important;
    }

    section {
        height: fit-content I !important;
    }

    #login {
        padding-top: 10px;
        flex-direction: column-reverse;
        min-height: fit-content;
        padding: 20px;
        gap: 0;
    }

    #loginPageDetail {
        padding: 0;
    }

    #login img {
        padding: 25px;
    }

    #User-info {
        width: 100vw;
    }

    #User-info div {
        display: block;
        padding-left: 10px;
        width: 100vw;
        font-size: 15px;
    }

    #User {
        overflow-x: hidden;
    }

    #User-info h1 {
        margin-top: 50px;
    }

    #navigator {
        display: flex;
        height: 88px;
        width: 100vw;
        padding-left: 10px;
        padding-bottom: 90px;
        border-bottom: 2px solid #393E46;
    }

    #button {
        display: block;
    }

    #email {
        width: 70vw;
        overflow: auto;
    }

    #UserProfile input {
        width: 300px;
    }

    #UserProfile select {
        width: 300px;
    }

    #guardProfile {
        width: 100vw;
    }

    #guardProfileForm {
        width: 300px;
    }

    #guardProfileForm input {
        width: 300px;
    }

    #guardProfileForm select {
        width: 300px;
    }

    .w-300 input {
        width: 300px;
    }

    .w-300 input {
        width: 300px;
    }

    .w-300 select {
        width: 300px;
    }

    .w-300e {
        width: 300px;
    }

    #guardDeshboard {
        flex-direction: column-reverse;
    }

    #Complain {
        width: 100%;
    }

    #Complain h1 {
        text-align: center;
        margin-bottom: 10px;
        padding: 0;
        font-size: 20px;
    }

    #Complain input {
        width: 210px;
    }

    .w-80vh {
        width: 80vw !important;
    }

    .guardinfo {
        height: 70vh;
        width: fit-content !important;
    }
}

#UserProfile select {
    background-color: #222831;
    color: #eee;
}

.react-dropdown-select-no-data {

    color: #000000 !important;
    /* background-color: #222831; */
    font-size: 15px;
}
.react-dropdown-select {
    box-shadow: none !important;
}

.guardinfo {
    width: 270px;
}
.react-dropdown-select-dropdown {
    border: 1px solid gray;
    border-radius: 6px !important;
    font-size: 13px;
    font-weight: 400;
}
.react-dropdown-select{
    padding: 0px I !important;
    font-family: sans-serif;
}
.css-1fhff70-InputComponent{
    padding: 0px;
    font-size: medium !important; 
    
}
.css-1cvf558-InputComponent{
    padding: 0px I !important;
    
    font-size: medium !important; 
}
.css-vt7o9g-InputComponent{
    
    padding: 0px;
    font-size: medium !important; 
}