@media screen and (max-width: 600px) {
    #login {
        padding-top: 10px;
      flex-direction: column-reverse;
      min-height: fit-content;
      padding: 20px;
      gap: 0;
    }
    #loginPageDetail{
        padding: 0;
    }
    #login img{
        padding: 25px;
    }
    #User-info{
        width: 100vw;
    }
    #User-info div{
        display: block;
        padding-left: 10px;
        width: 100vw;
    }
    #User-info h1{
            margin-top:50px ;
    }
    #navigator{
        display: flex;
        height: 88px;
        width: 100vw;
    }
    #button{
        display: block;
    }
  }
